<div class="uk-child-width-1-2@m uk-padding " uk-grid>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="assets/122.jpg" alt="">
            
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">الابتكار والتنمية </h3>
              <p>اساسي وحيوي في تنمية مهارات  الابتكار والتنمية لدى الاطفال في روضة الاطفال وذلك عن طريق اتقان مهارات الاتصال والتواصل مع الطفل  الروضة ووجود دوافع العمل الابتكاري لديها واكتشافها قدرات الاطفال الابتكارية والعمل على التنمية فالتفاعل بينت المعلمه والاطفال من خلال اتصال والتواصل يسمح للمعلمة بالتواصل والقيام بادوار فعاله بالاضافة الى نشاطات الاطفال ان اساليب ووسائل التنمية والابداع تشكل في مجموعها نظاما متكاملا او برامج شامله بالاضافة الى تنمية المهارات العقليه والمعلومات التي تتصل بمجالات الابداع المختلفه والسمات المرتبطه بها لدى الطفل والمعلمة او المعلم. </p>
          </div>
      </div>
  </div>
  