<section id="contactUs">

    <h2><b>تواصل معنا</b></h2>
    <div id="contactUsMain">
        <div id="contactDetails">
            <a a href="#"><img class="contactImg" src="/assets/52757.png"></a>
            <h1>info@gmail.com</h1>
            <a a href="#"> <img class="contactImg" src="/assets/phone.png"></a>
            <h3><b>07700245124 -07542142875</b></h3>
            <a a href="#"><img class="contactImg" src="/assets\7.ico " ></a>
            <h6><b>www.protectionKindergarten.com</b></h6>
            <h3><a href="#" style="text-decoration: none; color:powderblue "  >حمايه الاطفال</a></h3>
          
        </div>
        <div id="contactLocation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92177.55597674989!2d44.356904966002254!3d33.28722906064924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc1f986643f58a7af!2z2LHZiNi22Kk!5e1!3m2!1sar!2siq!4v1527554018072" width="540" height="540" frameborder="0" style="margin: 20px" allowfullscreen></iframe>
        </div>
    </div>
</section>
<footer id="siteFooter" >
    

    <h3> جميع الحقوق محفوظة لدى روضه حماية الاطفال @2018 </h3>
    </footer>
