<div class="uk-child-width-1-2@m uk-padding uk-height=12px" uk-grid>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="assets/1414.jpg"   alt="">
          </div>
          <div class="uk-card-body">
            <h1 class="uk-card-title"><h2>اولا/</h2> <a href="#">حماية الاطفال</a></h1>
              
             
              <p>حماية الطفل هي مجموعة من الإجراءات والأطر التي تمنع حدوث الإساءة للطفل، واستغلاله، وإهماله، بالإضافة إلى العنف الذي يؤثر على نفسية الطفل، وذلك حسب ما ورد ذلك في اتفاقية الأمم المتحدة لحقوق الطفل، وجميع اتفاقيات حقوق الإنسان، والقوانين الوطنية النافذة.    </p>
          </div>
      </div>
  </div>

        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img class="bils" src="assets/0202.jpg"   alt="">
            </div>
            <div class="uk-card-body">
                <h1 class="uk-card-title"><h2>ثانيا/</h2> <a href="#">غرف النشاط</a></h1>
                
               
                 <p>• غرف النشاط
                    ان يوجد نظام ثابت ومحدد او أمثل لتنظيم غرفة النشاط من خلال الاركان ولكن هناك احتمالات متعددة وكلها تعتبر مقبولة اذا ما روعيت عدد من
                    النقاط الاساسية عندالتخطيط لهذة الاركان وهى:
                    - ان تتيح رؤية كل الانشطة من اى زاوية من الغرفة.
                    - ان تتيح مناطق توفر للاطفال العمل او الاسترخاء دون ازعاج.
                    - ان تشجع اقامة العلاقات بفاعلية.
                    - ان تشبع احتياجات المعلمة النامية والمتنوعة.
                    - ان تشبع اهتمامات اطفال الروضة.
                    - ان توفر شروط الامان للافراد ووضع الخامات والادوات على الارففاو على الحائط ويجب ان تكون على ارتفاع الاطفال وتكون فى مستوى رؤيتهم.</p>
            </div>
        
    </div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img class="bils" src="assets/2525.jpg"   alt="">
        </div>
        <div class="uk-card-body">
            <h1 class="uk-card-title"><h2>ثالثا/</h2> <a href="#">*الاركان الاساسية فى قاعة النشاط: يمكن حصرها فى: </a></h1>
            
           
             <p>- فنون اللغة (القراءة والكتابة)
                    - الرياضيات وتشمل (الرمل-الماء-المكعبات-الطمى........ )
                    - اعمال الفن والابتكار وتشمل
                    (عمال الخشب-العجين-التلوين-الخامات المستهلكة-الخياطة-الموسيقى-عمل نماذج وصور من كل الانواع)
                    - الانشطة التخيلية وتشمل
                    (العاب التنكر-اللعب الدرامى-نماذج حيوانات المزرعة وحديقة الحيوان-منزل الدمية)
                    - منطقة للعرض(حيث يمكن عرض الادوات والخامات واعمال الطفل)
                    - منطقة البناء والهدم وتشمل
                    (اللعب بالمكعبات، وهو مكان يتيح للاطفال ان يبدأو بالبناء بالمكعبات ويتركها فى امان حيث يمكن العودة لاستكمالها)
                    - العروض المرئية والسمعية (افلام- شرائح- cd - dvd- تليفزيون- راديو....الخ)
                    - منطقة للتجمع (وهو مكان يجلس فية الاطفال مجتمعين للاستماع الى قصة مثلا).
                    - منطقة للادوات الموسيقية البسيطة.</p>
        </div>
    
